<div class="new-ic-modal">
  <span class="head-small semibold">New Integrated Circuit</span>
  <hr>
  <form [formGroup]="newICForm" (ngSubmit)="onSubmit()">
    <div class="mt-2" *ngFor="let formItem of formItems">
      <label class="form-label mb-4px">{{ formItem.required ? formItem.label + ' *' : formItem.label }}</label>
      <input *ngIf="formItem.type == 'text'" class="form-control" type="text" [placeholder]="formItem.placeholder" [formControlName]="formItem.name" [required]="formItem.required">
      <span *ngIf="newICForm.get(formItem.name)!.invalid && newICForm.get(formItem.name)!.touched" class="form-text error-message">This field is required.</span>
      <textarea *ngIf="formItem.type == 'textarea'" class="form-control" [placeholder]="formItem.placeholder" [formControlName]="formItem.name" [required]="formItem.required" [rows]="formItem.rows"></textarea>
    </div>
    <div>
      <span class="form-text">* denotes a required field</span>
    </div>
    <div class="d-flex gap-8px mt-2">
      <button type="button" class="btn btn-danger full-width" (click)="closeModal()">Cancel</button>
      <button [disabled]="newICForm.invalid" type="submit" class="btn btn-success full-width">Add</button>
    </div>
  </form>
</div>
