.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.no-select {
  user-select: none;
}

.gap-8px {
  gap: 8px;
}

// margin bottom
.mb-4px {
  margin-bottom: 4px;
}

.mb-8px {
  margin-bottom: 8px;
}

// margin left
.ml-8px {
  margin-left: 8px;
}

// margin x-axis
.mx-4px {
  margin-left: 4px;
  margin-right: 4px;
}
